.squares{
    
    
    background-color:white;
    
    
    
    
    
    
}
#container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(5,1fr);
    
    
    width:400px;
    height:400px;
    flex-wrap: wrap;
    background-color:greenyellow;
    border:5px solid red;
}

.squaresB{
    background-color:blue;
}