.squares{
    height: 20px;
    width:  20px;
    background-color:red;
    flex:0 0 auto;
    
    
    
    
}
#container{
    display:flex;
    
    width:320px;
    height:320px;
    flex-wrap: wrap;
    background-color:greenyellow;
}

.squaresB{
    background-color:blueviolet;
}